*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
 }
 .container {

width: 70% ;
background-color: rgb(16, 33, 51);
margin: auto;

 }

 header {
    background-color: rgb(112, 96, 71);
    height: 100px;
    border: 2px solid black;
 }
 .header {
    background-color: rgb(103, 180, 180);
    padding: 30px;
    border: 2px solid black;
 }

 #box1 {
    float: left;
    width: 25%;
    margin: 10px 0 0 10px;
    border: 2px solid black;
}

#box2 {
    float: right;
    width: 65%;
    margin: 10px 10px 0 0;
    border: 2px solid black;
}



.main {
    height: 400px;
    margin: auto;
    border: 2px solid black;
}

#sec-1 {
    background-color: rgb(5, 163, 108);
    margin: 10px;
    width: 45%;
    height: 90%;
    float: left;
    padding-top: 10px;
    border: 2px solid black;

}
#sec2{
    background-color: rgb(27, 88, 68);
    margin: 20px;
    width: 45%;
    height: 90%;
    float: right;
    padding-top: 10px;
    border: 2px solid black;
   
    

}
#sec-top{
    background-color: rgb(92, 5, 34);
    margin: 10px;
    height: 70px;
    padding-top: 25px; 
    width: 95%;
    border: 2px solid black;

}
#sec-Bottom {
    margin: 10px;
    height: 250px;
    width: 95%;
    background-color: rgb(108, 153, 4);
    border: 2px solid black;
    padding: 20px;
}

 
#text-img{
    height: 350px;
    background-color: rgb(73, 33, 33);
    padding: auto;
    border: 2px solid black;
}

img{
    height:250px;
    width: 250px;
    margin: 20px;
    border: 2px solid black;
    
}

#img img{
     height: 250px;
     width: 250px;
     float: left;
     margin: 60px;
     border: 2px solid black;

}

#text{
    height: 250px ;
     width: 350px;
    padding:20px 30px ;
    background-color:rgb(40, 40, 90) ;
    float:right;
    margin: 60px;
    border: 2px solid black;
}
.footer{
    background-color:rgb(163, 120, 11) ;
    height: 250px;
    padding:0 20px ;
    border: 2px solid black;
    margin: 10px;

}

.footer div{
    background-color: grey;
    float: left;
    height:200px ;
    width:250px ;
    margin: 20px;
    border: 2px solid black;
}

 .footer div2{
    background-color: grey;
    float: left;
    height:200px ;
    width:250px ;
    margin: 20px;
    border: 2px solid black;
}

.footer div3{
    background-color: grey;
    float: left;
    height:200px ;
    width:250px ;
    margin: 20px;
    border: 2px solid black;
} 